*{
    margin: 0 auto;
    padding: 0px;
    font-family: sans-serif;

}
body{
    background-color: #f5f5f5;
}

i{
    padding: 2px;
}

ul, li {
    list-style-type: none;
    font-size: 14pt;
    margin-top: 50px;
}
.fa-bars{
    margin-left: 40px;
}
.formularios{
    padding: 30px;
}
.tabela{
    padding: 15px;
}
    /*Transforma as informações vinda da tabela em negrito*/
.MuiTableBody-root{
    text-transform: uppercase;
}
/*cria o efeito de hover do datatable*/
.MuiTableRow-root:hover{
    background-color: #f3f2f2;
}
/*deixa os titulos do datatable em negrito */
#header{
    font-weight: bold;
}
table {
    padding: 0;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
}
.MuiCardActions-root{
    background-color: #f3f2f2;
}

/* Definir o tamanho personalizado do Switch */
.MuiSwitch-root{

    height: 20px;
}

/* Ajustar o tamanho da área do FormControlLabel */
.MuiFormControlLabel-root {
    width: fit-content;
}